/**********************************
COLORS
***********************************/

$blue: #21aedc;

/* site body */
body {
  background-color: #fff;
  /*color: #999;*/
}

header {
	background: $blue;
}

/* nav background on mobile */
nav {
  background: darken($blue, 10%);
}

/* links */
a {
  color: lighten($blue, 10%);
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: darken($blue, 25%);
}