/**********************************
COLORS
***********************************/

$gray: #edefed;

/* site body */
body {
  background-color: #edefed;
}

header {
	background: $gray;
}

/* nav link */
a, a:visited {
  color: darken($gray, 20%);
  transition: color 0.5s;
}

/* selected nav link */
a.selected, a:hover {
  color: darken($gray, 35%);
  transition: color 0.5s;
}