/**********************************
COLORS
***********************************/

$green: #8aca35;
$blue: #21aedc;
$purple: #682e85;

/* site body */
body {
  background-color: #fff;
  /*color: #999;*/
}

/* green header */
/*header {
  background: #6ab47b;
  border-color: #599a68;
}*/

header {
	background: $blue;
}

/* nav background on mobile */
nav {
  background: darken($blue, 10%);
}

/* links */
a {
  color: lighten($blue, 10%);
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: darken($blue, 25%);
}