/**********************************
GENERAL
***********************************/

body {
  font-family: sans-serif;
  background-color: #edefed;
}

main {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  overflow: auto;
}

a {
  text-decoration: none;
}

/**********************************
HEADING
***********************************/

header {
  float: left;
  width: 100%;
}

#logo {
  height: 300px;
  display: block;
  margin: -50px auto;
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;

  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 15px 10px;
  }
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: darken(#ccc, 20%);
}