/**********************************
GENERAL
***********************************/

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #edefed;
}

main {
  max-width: 940px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;

  ul {
    text-align: left;
  }

  @media (screen and max-width: 720px) {
    padding: 0 2%;
  }
}

a {
  text-decoration: none;
}

/**********************************
HEADING
***********************************/

header {
  width: 100%;
}

#logo {
  height: 300px;
  display: block;
  margin: -50px auto;
  padding: 0;

  @media (screen and max-width: 720px) {
    height: 250px;
  }
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  font-weight: 600;

  ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 15px 10px;

    @media (screen and max-width: 320px) {
      padding: 15px 5px;
    }
  }
}

/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.9em;
  text-align: center;
  padding: 25px;
  color: #fff;
  background-color: #434343;
}