@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    margin: 2%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
  }
  
  header {
    border-bottom: 5px solid darken($blue, 10%);
    margin-bottom: 60px;
  }
  
}

@media screen and (min-width: 1368px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    margin: 3%;
  }

  #logo {
    margin: 1.5%;
    height: 100px;
  }
}

@media screen and (max-width: 370px) {

  /**********************************
  HEADER
  ***********************************/

  nav ul li:nth-child(4) {
    margin-left: 0;
    margin-right: 4%;
    margin-top: 5px;
  }
}