.location {
	width: 100%;
	text-align: center;
	color: #fff;
	min-height: 600px;
	filter: sepia(50%);
	
	h1 {
		padding-top: 250px;
	}

	button {
		background: transparent;
		border: 1px solid #fff;
		padding: 25px;
	}
}

#sanfran {
	background-image: url("../images/GoldenGateBridge.jpg");
	background-size: 1000px;
	background-position: 0 -75px;
}

#paris {
	background-image: url("../images/EiffelTower.jpg");
	background-size: 1100px;
	background-position: -75px -1100px;
}

#london {
	background-image: url("../images/BigBen.jpg");
	background-size: 1000px;
	background-position: -60px -700px;
}