.location {
	width: 100%;
	text-align: center;
	color: #fff;
	min-height: 932px;
	margin-top: 0;
	overflow: auto;

	@media (screen and max-width: 720px) {
		min-height: 500px;
	}

	h1 {
		padding-top: 250px;
		font-size: 3em;

		@media (screen and max-width: 720px) {
			padding-top: 100px;
		}
	}

	button {
		background: rgba(0,0,0,0.2);
		border: 1px solid #fff;
		padding: 25px;
		font-weight: 600;

		&:hover {
			color: darken(#fff, 10%);
			background: rgba(0,0,0,0.3);
		}
	}

	a {
		color: #fff;
	}
}

#sanfran_main {
	background-image: url("../images/SanFran.jpg");
	background-size: 4200px;
	background-position: -1550px -2000px;

	@media (screen and max-width: 720px) {
		background-image: url("../images/SanFran720.jpg");
		background-size: 1200px;
		background-position: -400px -500px;
	}
}

#paris_main {
	background-image: url("../images/Paris.jpg");
	background-position: -3000px -420px;

	@media (screen and max-width: 720px) {
		background-image: url("../images/Paris720.jpg");
		background-size: 1500px;
		background-position: -760px;
	}
}

#london_main {
	background-image: url("../images/London.jpg");

	@media (screen and max-width: 720px) {
		background-image: url("../images/London720.jpg");
		background-size: 1345px;
		background-position: -220px;
	}
}

.webp {
	#sanfran_main {
		background-image: url("../images/SanFran.webp");

		@media (screen and max-width: 720px) {
			background-image: url("../images/SanFran720.webp");
		}
	}

	#paris_main {
		background-image: url("../images/Paris.webp");

		@media (screen and max-width: 720px) {
			background-image: url("../images/Paris720.webp");
			background-size: 900px;
			background-position: -100px;
		}
	}

	#london_main {
		background-image: url("../images/London.webp");

		@media (screen and max-width: 720px) {
			background-image: url("../images/London720.webp");
			background-size: 1150px;
			background-position: -440px;
		}
	}
}