.location {
	width: 100%;
	text-align: center;
	color: #fff;
	min-height: 932px;
	margin-top: 0;
	overflow: auto;

	h1 {
		padding-top: 250px;
	}

	button {
		background: transparent;
		border: 1px solid #fff;
		padding: 25px;
	}

	a {
		color: #fff;
	}
}

#sanfran_main {
	background-image: url("../images/SanFran.jpg");
	background-size: 4000px;
	background-position: -1500px -1500px;
}

#paris_main {
	background-image: url("../images/Paris.jpg");
	background-position: -3000px -420px;
}

#london_main {
	background-image: url("../images/London.jpg");
}